/* место для вашего кода */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  padding: 92px 49px 92px 51px;
}

.header__menu {
  grid-column: span 1;
}

.header__links-list {
  display: flex;
  gap: 32px;
  margin: 43px 0 45px;
  list-style: circle;
}

.header__links-list-item {
  margin-bottom: -1px;
  border-bottom: 1px #000 solid;
  color: #000;
  font-family: Raleway, Arial, sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  font-style: normal;
  line-height: normal;
}

.header__links-list-item_no-bullit {
  border-bottom: none;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  list-style: none;
}

.header__logo {
  grid-column: span 1;
}

.header__logo-image {
  width: 148px;
  height: 100%;
}

.header__address{
  display: flex;
  grid-column: span 1;
  justify-content: end;
  margin-left: auto;
}

.address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  color: #000;
  font-family: Raleway, Arial, sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  font-style: normal;
  line-height: 135%;
}

.address a {
  border-bottom: 1px #000 solid;
  text-decoration: none;
}

.address span {
  max-width: 240px;
}

.cover {
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  height: inherit;
  background: rgba(0, 0, 0, 0.6);
}

.cover__title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 165px 50px 0;
}

.aligned-text {
  display: flex;
  color: #FFF;
  font-family: Raleway, Arial, sans-serif;
  font-weight: 700;
  font-size: 6.25rem;
  font-style: normal;
  line-height: 115%;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text_center {
  display: flex;
  justify-content: center;
  line-height: 100%;
}

.aligned-text_right {
  display: flex;
  justify-content: end;
  line-height: 100%;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: grid;
  grid-template-columns: 1fr max-content;
  justify-items: end;
  align-items: center;
  gap: 78px;
  padding: 135px 50px 50px;
}

.cover__description-text {
  grid-column: span 1;
  color: #FFF;
  font-family: Raleway, Arial, sans-serif;
  font-weight: 400;
  font-size: 1.375rem;
  font-style: normal;
  line-height: 127.273%;
  text-align: center;
  text-transform: uppercase;
  word-spacing: 1.1rem;
}

.bet-button{
  min-width: 257px;
  border: 1px solid #FFF;
  padding: 12px 32px;
  color: #FFF;
  font-family: Raleway, Arial, sans-serif;
  font-weight: 400;
  font-size: 1.375rem;
  font-style: normal;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  margin: 180px 50px 0;
}

.lots__heading {
  margin: 0 40px 27px;
  color: #000;
  font-family: Raleway, Arial, sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
}

.lots__card-list-item {
  flex-grow: 1;
  flex-basis: 430px;
  height: 100%;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  background-position: center;
  background-size: cover;
}

.card .overlay {
  display: flex;
  flex-direction: column;
  min-height: 450px;
}

.card__title {
  padding: 50px 40px 30px;
  color: #FFF;
  font-family: Raleway, Arial, sans-serif;
  font-weight: 700;
  font-size: 1.375rem;
  font-style: normal;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text {
  display: flex;
  flex-grow: 1;
  align-items: end;
  margin: auto 40px 50px;
  color: #FFF;
  font-family: Raleway, Arial, sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  font-style: normal;
  line-height: 120%;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
  display: inline-block;
  margin: 30px 40px 2px;
  border-bottom: 1px #000 solid;
  color: #000;
  font-family: Raleway, Arial, sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  font-style: normal;
  line-height: normal;
  text-decoration: none;
}

.about {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin: 0 50px;
}

.about__column {
  grid-column: span 2;
}

.about__column:first-child {
  grid-column: span 1;
  margin: 180px auto 0;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding:  63px 46px;
  background-color: #000;
}

.about__logo-image {
  max-width: 148px;
  height: 100%;
}

.about__title {
  margin: 281px 0 100px;
  color: #000;
  font-family: Raleway, Arial, sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  color: #000;
  font-family: Raleway, Arial, sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  font-style: normal;
  line-height: normal;
}

.footer {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  margin: 180px 50px 90px;
}

.footer .address {
  grid-column: span 1;
} 

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.footer__menu-list-item{
  color: #000;
  font-family: Raleway, Arial, sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  font-style: normal;
  line-height: normal;
  text-align: center;  
}

.footer__menu-link {
  display: block;
  border-bottom: 1px #000 solid;
  text-decoration: none;
}

.footer__menu-link_active {
  border: none;
}

.footer__social-list {
  display: flex;
  grid-column: span 1;
  justify-content: end;
  align-items: start;
  gap: 48px;
  list-style: none;
}

.footer__social-icon {
  max-width: 48px;
  height: 100%;
}